*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #FFED66;
    font-family: Ubuntu;
    text-align: center;
    /* text-shadow: white 0px 0px 25px; */
}

h1{
    margin: 30px;
    font-size: 7.5vmin;
}

h3{
    font-size: 5vmin;
}

.mode{
    font-size: 1.5vmin;
    float: right;
    height: 5vmin;
    background-color: #6A706E;
    color: #fff;

}

.container{
    width: 70vmin;
    height: 60vmin;
    margin: auto;
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #89B6A5;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 3px; */
}

.players{
    display: flex;
}

.player1, .player2{
    width: 50%;
    text-align: center;
}

.winner{
    
    font-size: 5vmin;
    display: none;
    color: #ff784f;
}

.reset{
    font-size: 1.5vmin;
    height: 5vmin;
    background-color: #6A706E;
    color: #fff;
}